name: Deploy Catalog API

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Build Docker image
      run: docker build -t bulletshopacr.azurecr.io/bulletshop-catalog:latest .

    - name: Push Docker image to ACR
      run: |
        az acr login --name bulletshopacr
        docker push bulletshopacr.azurecr.io/bulletshop-catalog:latest

    - name: Deploy to Azure Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: bulletshop-catalog-api
        images: bulletshopacr.azurecr.io/bulletshop-catalog:latest